.navBar_List {

    font-family: "Open Sans", sans-serif;
    text-decoration-color: aliceblue;
    text-align: match-parent;
    list-style: none !important;
    display: block;
    float: left;
    max-height: 150px;
    max-width: 204px;
    position: relative;

}

