.navbar_container {
   
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0%;
    background-color: rgb(42, 42, 42);

}

.navBar_List {

    font-family: "Open Sans";
    text-decoration-color: aliceblue;
    text-align: mat;
    list-style: none !important;
    display: block;
    float: left;
    max-height: 150px;
    max-width: 204px;
    position: relative;
    grid-row:auto;

}
